{% load i18n owners_tags %}

<div class="overlaymenu-tip-container">
    <div class="overlaymenu-tip"></div>
</div>
<div class="overlaymenu-menu-content">
    <ul class="filters-list">
        <li>
            <input type="checkbox" class="filter" name="public" checked />
            <span class="legend-marker legend-marker-public"></span>
            {% trans "publicly owned land" %}
            <ul class="owners-list owners-list-public">
                {% get_owners type "public" as owners %}
                {% for owner in owners %}
                    <li>
                        <input type="checkbox" class="filter filter-owner-public" id="owner-public-{{ owner.pk }}" data-owner-pk="{{ owner.pk }}" checked />
                        <label for="owner-public-{{owner.pk }}">{{ owner.name }}</label>
                    </li>
                {% endfor %}
            </ul>
        </li>
        <li>
            <input type="checkbox" class="filter" name="private" checked />
            <span class="legend-marker legend-marker-private"></span>
            {% trans "private land belonging to an owner who wants to see it used" %}
        </li>
        <li>
            <input type="checkbox" class="filter" name="private-lien" disabled />
            <span class="legend-marker legend-marker-private-lien"></span>
            {% trans "private land with a blight lien" %}
        </li>
        <li>
            <input type="checkbox" class="filter" name="project" disabled />
            <span class="legend-marker legend-marker-project"></span>
            {% trans "project" %}
        </li>
    </ul>
</div>
