{% load blog_widgets feincms_tags i18n inplace_tags static %}

<script id="popup-template" type="text/x-handlebars-template">
    {% verbatim %}
        <section class="lotpopup">
            <header>
                <a href="{{detailUrl}}">
                    {{feature.properties.address_line1}}
                </a>
            </header>
            <div class="row">
                <div class="popup-streetview col-md-6">
                    <div style="border: 3px solid black;">
                        <img src="http://maps.googleapis.com/maps/api/streetview?location={{feature.geometry.coordinates.[1]}},{{feature.geometry.coordinates.[0]}}&size=105x110&sensor=false&fov=45" />
                    </div>
                </div>
                <div class="popup-lot-details col-md-6">
                    <div class="lot-count">1 lot</div>
                    <div class="size">Size: {{feature.properties.size}} acres</div>
                    <div class="owner">Owner: {{feature.properties.owner}}</div>
                    <!--
                        <div class="recent-activity">Someone just posted a note</div>
                    -->
                    <a href="{{detailUrl}}" class="btn btn-default">learn more</a>
                </div>
            </div>
        </section>
    {% endverbatim %}
</script>

<script id="details-template" type="text/x-handlebars-template">
    {% verbatim %}
        <ul>
            {{#each lottypes}}
                <li>
                    <span class="legend-marker legend-marker-{{type}}"></span>
                    {{type}}
                    <ul>
                        {{#each owners}}
                            <li>
                                {{count}} lots owned by {{name}}
                            </li>
                        {{/each}}
                    </ul>
                </li>
            {{/each}}
        </ul>
    {% endverbatim %}
</script>

<section id="map-welcome" class="hidden-print">
    <h1>
        {% trans "Welcome!" %}
        <a href="#" class="map-welcome-close-button">close</a>
    </h1>
    <div class="map-welcome-body">
        {% feincms_render_region feincms_page "welcome" request %}
    </div>
</section>

<div id="map-header" class="hidden-xs hidden-print">
    <div class="row map-header-content">
        <div class="map-header-currently-viewing col-sm-4">
            <h2>You are currently viewing</h2>
            <ul>
                <li>
                    <span id="no-known-use-acres"></span>
                    acres of opportunity on
                    <span id="no-known-use-count"></span>
                    lots
                </li>
                <li>
                    <span id="in-use-acres"></span>
                    acres of community projects on 
                    <span id="in-use-count"></span>
                    lots
                </li>
            </ul>
        </div>

        <div class="col-sm-2">
            <a class="btn btn-default overlay-details-button btn-block" href="#" style="margin-bottom: 5px;">
                details
            </a>
            <a class="btn btn-default overlay-download-button btn-block" href="#">
                download
            </a>
        </div>

        <div class="col-sm-4">
            <div class="map-search">
                <form class="map-search-form row" data-bounds="[-89.4747,29.7387,-90.4628,30.2158]" data-city="New Orleans" data-state="LA" data-error-message="Could not find your location. Try again?" data-warning-selector="map-search.warning">
                    <input class="col-sm-6" id="search" name="search" placeholder="{% trans "Search by address, zip code" %}" type="text" />
                    <button class="map-search-submit col-sm-2 btn btn-default" type="submit">{% trans "GO" %}</button>
                    <div class="warning" style="display: none;"></div>
                </form>
            </div>
        </div>

        <div class="col-sm-1">
            <a class="btn btn-default overlay-filter-button" href="#">
                filter
            </a>
        </div>
        <div class="col-sm-1">
            <a class="btn btn-default overlay-news-button" href="#">
                news
            </a>
        </div>
    </div>
</div>

<div id="map"
    data-l-zoom="11"
    data-l-center="[30.01, -90.07]"

    data-l-apikey="{% inplace_setting PLACES_CLOUDMADE_KEY %}"
    data-l-styleid="{% inplace_setting PLACES_CLOUDMADE_STYLE %}"
    data-l-lotsurl="{% url "lots:lot_geojson_centroid" %}"
>
    <div id="map-legend" class="row hidden-print">
        <div class="col-sm-2">
            <span class="legend-marker legend-marker-public"></span>
            <label class="legend-label">
                {% trans "public land" %}
            </label>
        </div>
        <div class="col-sm-4">
            <span class="legend-marker legend-marker-private"></span>
            <label class="legend-label">
                {% trans "private land belonging to an owner who wants to see it used" %}
            </label>
        </div>
        <div class="col-sm-2">
            <span class="legend-marker legend-marker-private-lien"></span>
            <label class="legend-label">
                {% trans "private land with a blight lien" %}
            </label>
        </div>
        <div class="col-sm-2">
            <span class="legend-marker legend-marker-project"></span>
            <label class="legend-label">
                {% trans "project" %}
            </label>
        </div>
        <div class="col-sm-2">
            <span class="legend-marker"></span>
            <label class="legend-label">
                {% trans "lot being organized" %}
            </label>
        </div>
    </div>
</div>

<div class="overlaymenu overlaymenu-details">
    <div class="overlaymenu-tip-container hidden-print">
        <div class="overlaymenu-tip"></div>
    </div>

    <section class="details-overview"></section>

    <section class="details-buttons hidden-print">
        <a class="details-button details-link btn btn-default btn-block disabled" href="#">
            {% trans "Link to this view" %}
        </a>
        <a class="details-button details-print btn btn-default btn-block" href="#">
            {% trans "Print" %}
        </a>
        <a class="details-button details-email btn btn-default btn-block disabled" href="#">
            {% trans "Email" %}
        </a>
    </section>
</div>

<div class="overlaymenu overlaymenu-download">
    <div class="overlaymenu-tip-container">
        <div class="overlaymenu-tip"></div>
    </div>

    <section style="margin-bottom: 10px;">
        {% blocktrans %}
            Download currently viewed lots. GeoJSON and KML are mapping 
            formats, so you can make your own maps!
        {% endblocktrans %}
    </section>

    <section class="details-buttons hidden-print">
        <a href="#" class="btn btn-default btn-block disabled export-csv" data-baseurl="{% url "lots:csv" %}?">
            {% trans "spreadsheet" %}
        </a>
        <a href="#" class="btn btn-default btn-block export-geojson disabled" data-baseurl="{% url "lots:geojson" %}?download=yes&">
            {% trans "GeoJSON" %}
        </a>
        <a href="#" class="btn btn-default btn-block disabled export-kml" data-baseurl="{% url "lots:kml" %}?">
            {% trans "KML" %}
        </a>
    </section>
</div>

<div class="overlaymenu overlaymenu-filter">
    <div class="overlaymenu-tip-container">
        <div class="overlaymenu-tip"></div>
    </div>
    <ul class="filters-list">
        <li>
            <input type="checkbox" class="filter" name="public" checked />
            <span class="legend-marker legend-marker-public"></span>
            {% trans "public land" %}
        </li>
        <li>
            <input type="checkbox" class="filter" name="private" checked />
            <span class="legend-marker legend-marker-private"></span>
            {% trans "private land belonging to an owner who wants to see it used" %}
        </li>
        <li>
            <input type="checkbox" class="filter" name="private-lien" disabled />
            <span class="legend-marker legend-marker-private-lien"></span>
            {% trans "private land with a blight lien" %}
        </li>
        <li>
            <input type="checkbox" class="filter" name="project" disabled />
            <span class="legend-marker legend-marker-project"></span>
            {% trans "project" %}
        </li>
    </ul>
</div>

<div class="overlaymenu overlaymenu-news">
    <div class="overlaymenu-tip-container">
        <div class="overlaymenu-tip"></div>
    </div>
    <div class="activity-stream-section map-sidebar-section">
        <h2>{% trans "Recent Activities" %}</h2>
        (recent activities will go here)
        <div class="activity-stream">
            <div class="activity-stream-container"></div>
            <div class="activity-stream-nav" style="display: none;">
                <a href="/activity-stream/">next page</a>
            </div>
        </div>
    </div>
</div>
