/*
 * Global properties
 */

body {
    font-family: sans-serif, "Arial Regular", Helvetica;
    font-size: 17px;
    line-height: 18px;
    margin: 0;
}

a,
a:hover,
a:active,
a:focus {
    color: #2593c6;
}

#page-wrapper-row {
    margin: 0;
}

#page-wrapper {
    background: #f6f8f8;
}

#page-header {
    background: url(/static/img/header-bg.png) white no-repeat;
    height: 180px;
}

.header-home-link {
    display: inline-block;
    float: left;
    position: relative;
    height: 70px;
    width: 215px;
    top: 65px;
    left: 75px;
}

.header-content {
    left: 100px;
    margin-top: 60px;
    position: relative;
}

.content-wrapper {
    min-height: 500px;
}

article {
    padding: 25px;
}

footer {
    background-color: #2593c6;
    color: white;
    padding: 25px;
    text-align: center;
}


/*
 * Nav
 */

nav.navbar {
    background-color: transparent;
    border: none;
    display: inline-block;
    font-family: 'Oswald', sans-serif;
    font-size: 28px;
    font-weight: 300;
}

@media (max-width: 768px) {

    /* On collapse, ensure that the button stays on the page */
    .header-content,
    nav.navbar {
        left: 0;
        padding: 0;
        position: absolute;
        width: 100%;
    }

    .navbar-collapse {
        background-color: rgba(256, 256, 256, 0.8);
        border: 0;
    }

}

.navbar-default .navbar-nav > li > a {
    color: black;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > li > a:hover {
    background-color: transparent;
}


/*
 * Modules
 */

#social {
    display: inline-block;
}


.map-page #page-wrapper {
    padding: 0;
}

.map-page article {
    padding: 0;
}

.map-page footer {
    margin: 0;
}

#map-welcome h1 {
    background: black;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 56px;
    font-weight: 300;
    margin: 0;
    padding-left: 35px;
    text-transform: uppercase;
}

.map-welcome-close-button,
.map-welcome-close-button:active,
.map-welcome-close-button:hover {
    color: white;
    float: right;
    font-size: 16px;
    margin-right: 50px;
    margin-top: 10px;
    text-decoration: none;
}

.map-welcome-body {
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 20px;
    padding-top: 10px;
}

#map-header {
    z-index: 5000;
    background: #58595b;
    width: 100%;
    position: relative;
    min-height: 75px;
}

.map-header-content {
    color: white;
    font-family: 'Oswald', sans-serif;
    margin-left: 75px;
    padding: 20px;
}

.map-header-currently-viewing {
    font-family: 'Oswald', sans-serif;
    font-size: 22px;
    font-weight: 300;
}

.map-header-currently-viewing h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 22px;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0;
}

.map-header-currently-viewing ul {
    font-family: 'Oswald', sans-serif;
    line-height: 24px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.overlaymenu {
    background: rgba(256, 256, 256, 0.95);
    border: 3px solid #2593c6;
    display: none;
    padding: 15px;
    position: absolute;
    width: 250px;
    z-index: 5005;
}

.overlaymenu h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 28px;
    font-weight: 400;
    margin-top: 15px;
    text-transform: uppercase;
}

.overlaymenu-tip-container {
    display: block;
    margin: 0 auto;
    margin-top: -31px;
    width: 40px;
    height: 20px;
    position: relative;
    overflow: hidden;
    z-index: 5009;
    left: 97px;
}

.overlaymenu-tip {
    background: rgba(256, 256, 256, 0.95);
    border: 3px solid #2593c6;
    border-bottom: 0;
    border-right: 0;
    display: block;
    padding: 10px;
    width: 28px;
    height: 28px;
    margin: 0 auto 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 5010;
}

#map-legend {
    background: rgba(256, 256, 256, 0.85);
    border: 3px solid #2593c6;
    bottom: 10px;
    left: 25px;
    padding: 5px;
    position: absolute;
    width: 50%;
    z-index: 5000;
}

.legend-label {
    display: inline;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    line-height: 14px;
    text-transform: uppercase;
}

.legend-marker {
    background: black;
    border-radius: 10px;
    display: inline-block;
    height: 10px;
    width: 10px;
}

.legend-public .legend-marker {
    background: #404586;
}

.legend-private .legend-marker {
    background: #ea292e;
}

.legend-private-lien .legend-marker {
    background: #faa43e;
}

.legend-project .legend-marker {
    background: #97b03d;
}

.lotpopup {
    color: #2593c6;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.lotpopup header {
    border-bottom: 1px solid #58595b;
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 10px;
}

.popup-lot-details {
    padding-left: 0;
}

.popup-lot-details .lot-count {
    margin-bottom: 5px;
}

.popup-lot-details .size {
    margin-bottom: 5px;
}

.popup-lot-details .owner {
    margin-bottom: 5px;
}

.popup-lot-details .recent-activity {
    font-weight: 700;
    margin-bottom: 10px;
}

.lot-detail-page h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 28px;
    font-weight: 300;
    margin-top: 15px;
}

.lot-detail-page h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 22px;
    font-weight: 300;
    margin-top: 15px;
}

.lot-detail-page .alert {
    margin-top: 20px;
}

.lot-detail-organizers h2 {
    background: #58595b;
    color: white;
    padding-left: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.lot-detail-page article {
    padding-top: 0;
}

.lot-detail-header-image {
    width: 100%;
    height: 300px;
    margin-top: 15px;
}

.lot-detail-header-streetview-error {
    display: none;
}

#lot-detail-map {
    border: 2px solid #58595b;
    height: 150px;
    margin-top: -100px;
    width: 100%;
}

.lot-detail-info-box {
    background-color: rgba(151, 176, 61, 0.1); /* #97b03d in RGB */
    margin-top: 15px;
    padding: 10px;
}

.lot-add-page h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 86px;
    font-weight: 300;
    margin: 0;
    text-transform: uppercase;
}

.lot-detail-organizer-intro h3 {
    color: #2593c6;
    font-family: 'Oswald', sans-serif;
    margin: 0;
    text-transform: uppercase;
}

.lot-detail-organizers .block-lot-detail-organizer-intro {
    font-size: 14px;
}

ul.organizer-list,
ul.file-list,
ul.note-list {
    list-style: none;
    padding: 0;
}

.organizer-list-item,
.file-list-item,
.note-list-item {
    margin-top: 25px;
    margin-bottom: 25px;
}

.organizer-list .organizer-name,
.file-list .file-added-by-name,
.note-list .note-added-by-name {
    color: #58595b;
    font-family: 'Oswald', sans-serif;
    font-size: 26px;
    font-weight: bold;
    line-height: 26px;
}

.note-added,
.file-added {
    font-size: 12px;
}


/*
 * Bootstrap overrides
 */

.breadcrumb {
    background-color: transparent;
}

.btn,
.leaflet-container .btn {
    border: none;
    border-radius: 0;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 17px;
    font-weight: 300;
    padding-left: 15px;
    padding-right: 15px;
    text-transform: uppercase;
}
.btn:hover {
    color: #f2ce1e;
}
.btn:active {
    color: white;
}

.btn.btn-default {
    background-color: #2593c6;
}

.form-horizontal .control-label {
    text-align: left;
}

label {
    font-weight: normal;
}

.form-group.required label {
    font-weight: bold;
}

input[type=email],
input[type=text],
input[type=url],
textarea {
    border: 2px solid black;
    border-radius: 0;
}


/*
 * Leaflet overrides
 */


/* Keep zoom control on top of map bar */
.leaflet-control-container,
.leaflet-top {
    z-index: 5001;
}

.leaflet-control-container .leaflet-left .leaflet-control-zoom {
    margin-left: 35px;
}

/* Style the popup */
.leaflet-popup-content-wrapper {
    border: 2px solid #58595b;
    -webkit-border-radius: 0;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 1px;
}

.leaflet-popup-tip-container {
    overflow: visible;
}

.leaflet-popup-tip {
    border: 2px solid #58595b;
    border-left: 0;
    border-top: 0;
    box-shadow: none;
}

.leaflet-popup-content {
    margin: 5px 15px;
    margin-bottom: 8px;
}

.leaflet-control-zoom {
    border: 3px solid #2593c6;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}

.leaflet-control-zoom a,
.leaflet-control-zoom a:hover,
.leaflet-control-zoom a:active {
    background: #58595b;
    color: white;
}
.leaflet-control-zoom a:hover {
    color: #f2ce1e;
}
.leaflet-control-zoom a:active {
    color: white;
}

.leaflet-control-zoom .leaflet-control-zoom-in {
    border-bottom: 1px solid #2593c6;
}
.leaflet-control-zoom .leaflet-control-zoom-in:hover {
    border-bottom: 1px solid #2593c6;
}
