/*
 * Global properties
 */

body {
    background-color: #03310a;
    font-family: sans-serif, Helvetica, Arial;
    margin: 0;
}

#page-wrapper {
    background-color: white;
    min-height: 500px;
}

#page-header {
    margin-bottom: 25px;
}

article {
    padding: 25px;
}


/*
 * Modules
 */


.map-page #page-wrapper {
    margin: 0;
    width: 100%;
}

.map-page article {
    padding: 0;
}
