{% extends "base.html" %}
{% load feincms_tags %}

{% block body_class %}map-page{% endblock %}

{% block mainclasses %}{% endblock %}

{% block breadcrumbs_wrapper %}{% endblock %}

{% block submenu %}{% endblock %}

{% block body %}
    <div id="page-wrapper-row" class="row">
        <div class="col-sm-10 col-sm-offset-1">
            {% include "_header.html" %}
        </div>
    </div>

    {% feincms_render_region feincms_page "main" request %}
    {% include "_footer.html" %}
{% endblock %}
